:root {
    --grid-repeat: 100;
}

html {
    background-color: black;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: Times Roman, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    gap: 8px;
}

#top-nav-icon-image-logo {
    background-color: transparent;
}

.top-nav-btn {
    color:darkred;
    text-decoration: none;
}

#top-desktop-nav {
    display:flex;
    flex-direction: row;
    align-items:center;
    position: relative;
    justify-content: space-between;
    height: 3vh;
    margin: 4px 4px;
    padding-left: 1px;
    padding-right: 1.5px;
    border-radius: 7px;
    font-size: 10px;
    text-decoration: none;
}


#top-nav-icon-bar-item-hover {
    image-rendering: auto;
    width: auto;
    background-color: transparent;
    float: left;
    padding: 4px 4px;
    border: none;
}

#top-nav-search-input {
    width: 7.5em;
    margin: 0 16px;
    height: 16px;
    border: black;
    border-radius: 25px;
}

#top-nav-profile-circle {
    border: black;
    border-radius: 50px;
    width: 24px;
    height: 24px;
}

#left-side-panel {
    display: none;
}

#top-center-full-banner {
    height: 100lvw;
   
}

#top-nav-btn-container {
    display: flex;
    gap: 8px;
}

#top-nav-btn {

}

#top-nav-icon-link-logo {
    left: 0;
}


#left-side-menu-inner {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}

#top-center-full-banner {
    position: relative;
    margin: 0;
    padding-top: 8px;
    width: 100vw;
    height: inherit;
    color: #d1d5db;
}

#top-center-full-banner-container {
    width: auto;
    height: auto;
    
}

#top-center-full-banner-left_blur {
    width: auto;
    position: absolute;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.07), black);
    z-index: auto;
}

#top-center-full-banner-image {
    width: 100vw;
    height: 550px;
    object-fit: fill;
}

#title_button-container {
    padding: 8px 0;
    top: 40%;
    left: 8px;
    position: absolute;
    width: auto;
    max-width: 200px;
    line-height: 8px;
    font-size: 14px;
}

#banner-text-description {
    line-height: 16px;
}

#banner-button-p, 
#banner-button-tl, 
#banner-button-wl {
    margin: 2px;
    padding: 8px;
    border: 300px gray;
    color: black;
    font-size: 10px;
}
 

#banner-button-wl {
    background-color: transparent;
} 

#banner-bottom-shadow-blur {
    height: 20px;
    margin: 0;
    background-image: linear-gradient(to bottom, black, white);
}

#movie-genre {
    color: white;
}

#movie-thumbnail-vscroll-container {
    position: sticky;
    /* display: flex; */
    width: 100vw;
    margin: 9px;
    gap: 8px;
}



#movie-thumbnail-hscroll-container {
    width: auto;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(var(--grid-repeat), auto);
    grid-gap: 0 16px;
    padding: 4px 4px;
    padding-right: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border-radius: 10px;
  }
  
#movie-thumbnail-hscroll-wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

.hscroll-wrapper {
    display: inline-flex;
    flex-direction: column-reverse;
    width: 160px;
    cursor: pointer;
    justify-content: flex-end;
    
}

.hscroll-wrapper:hover {
    opacity: 0.5;

}

img[id='movie-thumbnail'] {
    width: 160px;
    height: auto;
}

p[id='movie-title'] {
    color: white;
}

