/* 
    Created on : June 24, 2024, 3:21:44 PM
    Author     : Okino Kamali Leiba
*/

/* ==========================================================================
   Global Styles
   ========================================================================== */
/* TODO: consider creating default properties for global styles */
:root {
    --grid-repeat: 100;
    --shadowColor: #a9a9a963;
    --titleColor: #d9b9b984;
}

html {
    background-color: black !important;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: Times Roman, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

/* ==========================================================================
   Custom Styles
   ========================================================================== */

/* --------------------------------------------------------------------------
   Nav Styles
   -------------------------------------------------------------------------- */

#top-nav-icon-image-logo {
    display: none;
    background-color: transparent;
    width: 2.5em;
    height: 3.6875em;
}

#top-nav-icon-image-text {
    font-size: 1.15rem;
    line-height: 1.05rem;
    color: red;
    font-weight: 600;
}

.top-nav-btn {
    color:darkred;
    text-decoration: none;
}

#top-desktop-nav {
    display:flex;
    flex-direction: row;
    align-items:center;
    position: relative;
    justify-content: space-between;
    height: 3vh;
    margin: 4px 4px;
    padding-left: 3px;
    padding-right: 3.5px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 7px;
    font-size: 1em;
    text-decoration: none;
}


#top-nav-icon-bar-item-hover {
    image-rendering: auto;
    width: auto;
    background-color: transparent;
    float: left;
    padding: 4px 4px;
    border: none;
}

#top-nav-search-input {
    width: 9.5em;
    margin: 0px 0px;
    height: 1.5em;
    border-color: black;
    border-radius: 25px;
    padding: 0 2px;
}

#top-nav-onboarding-group {
    display: flex;
    flex-direction: row;
    margin: 4px 0;
    padding: 1em;
    gap: 8px;
}

#nav-login-bg-offset,
#nav-signup-bg-offset,
#nav-account-bg-offset, 
#nav-logout-bg-offset {
    color: var(--shadowColor);
    cursor: pointer;
    font-size: 1.05rem;
    line-height: 0.75rem;
    border-radius: 50px;
    width: 5.25em;
    height: 1.5em;
}

#nav-login-bg-offset,
#nav-account-bg-offset {
    background-color: red;
    color: black;
}


#nav-signup-bg-offset,
#nav-logout-bg-offset {
    background-color: transparent;
}

#nav-login-bg-offset,
#nav-signup-bg-offset {
    display: none;
}

#nav-account-bg-offset,
#nav-logout-bg-offset {
    display: block;
}

#account-icon,
#logout-icon {
    width: 20px;
    height: 20px;
    padding: 4px 0;
    /* background-color: transparent; */
    /* color: black; */
    /* color-rendering: optimizeQuality; */
}

#top-nav-profile-circle {
    border-color: black;
    border-radius: 50px;
    width: 24px;
    height: 24px;
}

#left-side-panel {
    display: none;
}

/* --------------------------------------------------------------------------
   Banner Hero Styles
   -------------------------------------------------------------------------- */

#top-center-full-banner {
    height: 100lvw;
   
}

#top-nav-btn-container {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 8px;
    font-size: 0.9em;
    z-index: 1;
}

#nav-menu {   
    position: relative;
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    margin: 0;
}

#menu-dropbtn {
    font-size: 1.20em;
    line-height: 0.75em;
    background-color: black;
    color: var(--shadowColor);
    cursor: pointer;
    border: none;
    padding: 4px 4px;
}



#top-nav-btn {

}

#top-nav-icon-link-logo {
    position: relative;
    left: 0;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none; 
}


#left-side-menu-inner {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}

#top-center-full-banner {
    position: relative;
    margin: 0;
    padding-top: 0;
    width: 100vw;
    height: inherit;
    color: #d1d5db;
}

#top-center-full-banner-container {
    width: 100vw;
    height: auto;
    
}

#top-center-full-banner-left_blur {
    width: auto;
    position: absolute;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.07), black);
    z-index: auto;
    
}

#top-center-full-banner-image {
    width: 100vw;
    height: 550px;
    object-fit: cover;
    aspect-ratio: auto;
 
}


#title_button-container {
    padding: 8px 0 8px 4px;
    top: 10em;
    left: 8px;
    position: absolute;
    width: inherit;
    max-width: 50rem;
    line-height: 8px;
    font-size: 0.875em;
}

h1#left-banner-title {
    font-size: 1.875rem;
    line-height: 0.75rem;
    margin-bottom: 1.50rem;
}

#banner-text-date {
    font-size: 0.875rem; /* 14px */
    font-weight: 400;
    line-height: 1.25rem; /* 20px */
    color: white;
    margin-bottom: 4px;
}

#banner-text-description {
    width: 100vw;
    max-width: 90%;
    line-height: 16px;
    font-weight: 300;
    margin-top: 0;
}

button#banner-button-p, 
button#banner-button-tl, 
button#banner-button-wl {
    margin: 2px 0;
    padding: 8px;
    border: 0.04rem solid darkgrey;
    color: black;
    font-size: 0.625em;
}
 

button#banner-button-wl {
    background-color: transparent;
    color: white;
} 

#banner-bottom-shadow-blur {
    height: 1em;
    margin: 0;
    /* box-shadow: 0 0 0 0 var(--shadowColor); */
    /* background-color: black; */
    background-image: linear-gradient(to bottom, var(--shadowColor), var(--shadowColor) 50%, var(--shadowColor) 50%, var(--shadowColor) 50%);
    -webkit-filter: blur(1em); /* For older browsers */
    filter: blur(1em);
    /* filter: drop-shadow(var(--shadowColor) 1rem 1rem 1rem); */
}

#banner-left-shadow-blur {
    width: 1.25em;
    margin: 0;
    background-image: linear-gradient(to bottom, var(--shadowColor), var(--shadowColor) 50%, var(--shadowColor) 50%, var(--shadowColor) 75%);
    background-color: var(--shadowColor);
    -webkit-filter: blur(1em); /* For older browsers */
    filter: blur(1em);
    /* filter: drop-shadow(var(--shadowColor) 1rem 1rem 1rem); */
}

#top-section-banner-container {
    margin: 0;
    padding: 0;
}

/* --------------------------------------------------------------------------
   Movie: Title, {Genre, API}, Image Styles
   -------------------------------------------------------------------------- */

#vscroll-sections-container {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    padding-top: 5px;
    margin: 0;
    overflow-y: scroll;
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    scroll-snap-type: mandatory;
    /* scroll-snap-points-x: repeat(100vw); */
    scroll-snap-type: x mandatory;
}

#vscroll-sections-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

#vscroll-icons-container-left,
#vscroll-icons-container-right {
    display: inline-flex;
    position: relative;
    gap: 0;
    padding: 0;
    background-color: aqua;
    mix-blend-mode: difference;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    justify-content: flex-end;
    cursor: pointer;  

}

#vscroll-icons-container-left { 
    left: 0;
   
}
    
#vscroll-icons-container-right {
    left: 99%;
}

.movie-genre,
.movie-apisection-title {
    color: var(--titleColor);
    font-size: 1.75rem;
    line-height: 1.25;
    margin-bottom: 0;
}

.chevron-wrapper,
.chevron-apisection-wrapper {
    display: flex;
    gap: 8px;
   
}



.button-chevron-left,
.button-chevron-right,
.button-chevron-apisection-left,
.button-chevron-apisection-right {
    border: none;
    background-color: tan;
    mix-blend-mode: lighten;
    border-radius: 100%;
}

#left-chevron, 
#right-chevron,
#left-apisection-chevron,
#right-apisection-chevron {
    font-size: 1.25em;
    /* line-height: 1.25em; */
    background-color: whitesmoke;
}

i[class="fas fa-chevron-circle-left"],
i[class="fas fa-chevron-circle-right"]
{
    font-size: 1.55em;
    /* line-height: 1.25em; */
    mix-blend-mode: darken;
    
}




#movie-title-thumbnail-vscroll-container {
    padding-left: 8px;
    padding-right: 8px;
    width: 100vw;
    margin-right: -52px;
}

#movie-title-thumbnail-vscroll-container-apisection {
    padding-left: 3.5em;
    width: 100vw;
}

#movie-title-thumbnail-vscroll-container-apisection {
    height: max-content;
    margin: 0 1.2em;
    }



.movie-title-thumbnail-hscroll-container, 
.movie-title-thumbnail-hscroll-apisection-container {
    width: auto;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 auto;
    padding: 0.05em;
    display: grid;
    grid-template-columns: repeat(var(--grid-repeat), auto) !important;
    gap: 10px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border-radius: 10px;
    align-items: center;
    justify-content: flex-start;
}

movie-title-thumbnail-hscroll-apisection-container {
    height: 15.2em;
}

  
#movie-thumbnail-hscroll-wrapper::-webkit-scrollbar,
#movie-thumbnail-hscroll-apisection-wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

.hscroll-wrapper,
.hscroll-apisection-wrapper
 {
    display: flex;
    flex-direction: column-reverse;
    width: 22.75rem;
    padding: 0 0.05em;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.hscroll-apisection-wrapper {
    margin-top: 0;
}

.hscroll-wrapper:hover,
.hscroll-apisection-wrapper:hover
 {
    opacity: 1.5;
    background-color: rgb(0 0 0 / 50%);
        p[class='movie-title'] {
            /* display: flex; */
                opacity: 1;
                z-index: 1; 
               
        } 
        & i[class="fa-regular fa-heart"] {
                opacity: 1;
              
        }
        & img[class='movie-thumbnail'] {
                opacity: 0.6;
        }
      

}

img[class='movie-thumbnail'] {
    display: flex;
    width: 142%;
    height: 17em;
    max-width: inherit;
    border-radius: 1.8%;
    box-shadow: 10px -8px #55525259;
    transform: scaleY(0.7) scaleX(0.7);
    object-fit: fill;
    aspect-ratio: auto;
    z-index: 0;
}

p[class='movie-title'] {
    display: flex;
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    bottom: 6.125em;
    /* left: 0%; */
    /* justify-content: center; */
    color: brown; /* #5e3e03fc; */
    font-size: 1.25em; /* 14px */
    /* line-height: 0.75em; */ /* 20px */
    padding: 0 8px;
    opacity: 0; 
    z-index: 1; 
}



i[class="fa-regular fa-heart"]  {
      position: relative;
      z-index: 1;
      opacity: 0;
      top: 65px;
      right: 45%;
      transform: scale(1.5);
      display: block;
      filter: invert(100%);
}


i[class="fa-solid fa-heart"] {
      position: relative;
      z-index: 1;
      top: 65px;
      right: 45%;
      transform: scale(1.5);
      display: none;
      filter: invert(100%);
}


#material-icons {
    position: absolute;
    display: inline-flex;
    left: 0;
    top: 0;
}

/* --------------------------------------------------------------------------
   Media Hero Styles
   -------------------------------------------------------------------------- */

/* used in combination with relative size units in media and other element */

/* extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1#left-banner-title {
        font-size: 2rem;
        line-height: .075rem;
        margin-bottom: 1rem;
    }

    .hscroll-wrapper,
    .hscroll-apisection-wrapper {
        width: 14.25rem;
    }
}

/* small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #title_button-container {
        padding: 16px 0 16px 8px;
    }
    h1#left-banner-title {
        font-size: 3rem;
        line-height: .075rem;
        margin-bottom: 1.50rem;
    }
    #banner-text-description {
        max-width: 70%;
    }
    .hscroll-wrapper,
    .hscroll-apisection-wrapper {
        width: 15.5rem;
    }

    
        
}

/* medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .hscroll-wrapper,
    .hscroll-apisection-wrapper {
        width: 18rem;
    }
}

/* large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #banner-text-description {
        max-width: 50%;
    }
    .hscroll-wrapper,
    .hscroll-apisection-wrapper {
        width: 20.5rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   #banner-text-description {
        max-width: 35%;
   }
   .hscroll-wrapper,
   .hscroll-apisection-wrapper {
       width: 25.5rem;
   }
}





