:root {
    --grid-repeat: 100;
    --shadowColor: #a9a9a963;
    --titleColor: #d9b9b984;
}

html {
    background-color: black !important;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: Times Roman, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    /* padding: 0; */
    /* gap: 8px; */
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#top-nav-icon-image-logo {
    display: none;
    background-color: transparent;
    width: 40px;
    height: 59px;
}

#top-nav-icon-image-text {
    font-size: 1.15rem;
    line-height: 1.05rem;
    color: red;
    font-weight: 600;
}

.top-nav-btn {
    color:darkred;
    text-decoration: none;
}

#top-desktop-nav {
    display:flex;
    flex-direction: row;
    align-items:center;
    position: relative;
    justify-content: space-between;
    height: 3vh;
    margin: 4px 4px;
    padding-left: 1px;
    padding-right: 1.5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 7px;
    font-size: 1em;
    text-decoration: none;
}


#top-nav-icon-bar-item-hover {
    image-rendering: auto;
    width: auto;
    background-color: transparent;
    float: left;
    padding: 4px 4px;
    border: none;
}

#top-nav-search-input {
    width: 9.5em;
    margin: 0px 0px;
    height: 1.5em;
    border-color: black;
    border-radius: 25px;
    padding: 0 2px;
}

#top-nav-onboarding-group {
    display: flex;
    flex-direction: row;
    padding: 1em;
    gap: 8px;
}

#nav-login-bg-offset,
#nav-signup-bg-offset,
#nav-account-bg-offset, 
#nav-logout-bg-offset {
    color: var(--shadowColor);
    cursor: pointer;
    font-size: 1.05rem;
    line-height: 0.75rem;
    border-radius: 50px;
    width: 5.25em;
    height: 1.5em;
}

#nav-login-bg-offset,
#nav-account-bg-offset {
    background-color: red;
}


#nav-signup-bg-offset,
#nav-logout-bg-offset {
    background-color: transparent;
}

#nav-login-bg-offset,
#nav-signup-bg-offset {
    display: none;
}

#nav-account-bg-offset,
#nav-logout-bg-offset {
    display: block;
}

#top-nav-profile-circle {
    border-color: black;
    border-radius: 50px;
    width: 24px;
    height: 24px;
}

#left-side-panel {
    display: none;
}

#top-center-full-banner {
    height: 100lvw;
   
}

#top-nav-btn-container {
    display: flex;
    gap: 8px;
    font-size: 0.9em;
}

#top-nav-btn {

}

#top-nav-icon-link-logo {
    position: relative;
    left: 0;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none; 
}

#nav-menu {
    display: none;
}


#left-side-menu-inner {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
}

#top-center-full-banner {
    position: relative;
    margin: 0;
    padding-top: 8px;
    width: 100vw;
    height: inherit;
    color: #d1d5db;
}

#top-center-full-banner-container {
    width: 100vw;
    height: auto;
}

#top-center-full-banner-left_blur {
    width: auto;
    position: absolute;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.07), black);
    z-index: auto;
}

#top-center-full-banner-image {
    width: 100vw;
    height: 550px;
    object-fit: contain;
}

#title_button-container {
    padding: 8px 0 8px 4px;
    top: 10em;
    left: 8px;
    position: absolute;
    width: inherit;
    max-width: 50rem;
    line-height: 8px;
    font-size: 14px;
}

h1#left-banner-title {
    font-size: 1.875rem;
    line-height: 0.75rem;
    margin-bottom: 1.50rem;
}

#banner-text-date {
    font-size: 0.875rem; /* 14px */
    font-weight: 400;
    line-height: 1.25rem; /* 20px */
    color: white;
    margin-bottom: 4px;
}

#banner-text-description {
    width: 100vw;
    max-width: 90%;
    line-height: 16px;
    font-weight: 300;
    margin-top: 0;
}

button#banner-button-p, 
button#banner-button-tl, 
button#banner-button-wl {
    margin: 2px 0;
    padding: 8px;
    border: 0.04rem solid darkgrey;
    color: black;
    font-size: 10px;
}
 

button#banner-button-wl {
    background-color: transparent;
    color: white;
} 

#banner-bottom-shadow-blur {
    height: 1em;
    margin: 0;
    /* box-shadow: 0 0 0 0 var(--shadowColor); */
    /* background-color: black; */
    background-image: linear-gradient(to bottom, var(--shadowColor), var(--shadowColor) 50%, var(--shadowColor) 50%, var(--shadowColor) 50%);
    -webkit-filter: blur(1em); /* For older browsers */
    filter: blur(1em);
    /* filter: drop-shadow(var(--shadowColor) 1rem 1rem 1rem); */
}

#banner-left-shadow-blur {
    width: 20px;
    margin: 0;
    background-image: linear-gradient(to bottom, var(--shadowColor), var(--shadowColor) 50%, var(--shadowColor) 50%, var(--shadowColor) 75%);
    background-color: var(--shadowColor);
    -webkit-filter: blur(1em); /* For older browsers */
    filter: blur(1em);
    /* filter: drop-shadow(var(--shadowColor) 1rem 1rem 1rem); */
}

#top-section-banner-container {
    margin: 0;
    padding: 0;
}

#vscroll-sections-container {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    padding-top: 5px;
    margin: 0;
    overflow-y: scroll;
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    scroll-snap-type: mandatory;
    scroll-snap-points-x: repeat(100vw);
    scroll-snap-type: x mandatory;
}

#vscroll-sections-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

#movie-genre,
#movie-apisection-title {
    color: var(--titleColor);
    font-size: 1.75rem;
    line-height: 1.25;
    margin-bottom: 0;
}

#chevron-wrapper {
}

#button-chevron-left,
#button-chevron-right,
#button-chevron-apisection-left,
#button-chevron-apisection-right {
    background-color: transparent;
    border: none;
}

#left-chevron, 
#right-chevron,
#left-apisection-chevron,
#right-apisection-chevron {font-size: 1.25em;/* line-height: 1.25em; */background-color: whitesmoke;}




#movie-title-thumbnail-vscroll-container, 
#movie-title-thumbnail-vscroll-apisection-container {
    padding-left: 1em;
    width: 100vw;
    
    /* gap: 4px; */
}

#movie-title-thumbnail-vscroll-apisection-container {
    height: max-content;
    }



#movie-title-thumbnail-hscroll-container, 
#movie-title-thumbnail-hscroll-apisection-container {
    width: auto;
    height: 16em;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(var(--grid-repeat), auto) !important;
    grid-gap: 0 16px;
    padding: 4px 4px;
    /* padding-right: 0; */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border-radius: 10px;
  }


  
#movie-thumbnail-hscroll-wrapper::-webkit-scrollbar,
#movie-thumbnail-hscroll-apisection-wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

.hscroll-wrapper,
.hscroll-apisection-wrapper
 {
    display: inline-flex;
    flex-direction: column-reverse;
    width: 60px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.hscroll-wrapper:hover,
.hscroll-apisection-wrapper:hover
 {
    opacity: 0.5;
    background-color: rgb(0 0 0 / 50%);
        p[id="movie-title"] {
            opacity: 1;
            z-index: 1;
        } 
        & #fa-rheart {
            display: block;
        }

}

img[id='movie-thumbnail'] {
    display: inline-block;
    width: 15.75em;
    height: 15em;
    border-radius: 1.8%;
    box-shadow: 10px -8px #55525259;
    transform: scaleY(0.7) scaleX(.8);
    object-fit: fill;
}

p[id='movie-title'] {
    display: flex;
    position: relative;
    top: -50%;
    /* left: 50%; */
    align-items: center;
    justify-content: center;
    color: #3b0303;
    font-size: 1.25em; /* 14px */
    /* line-height: 0.75em; */ /* 20px */
    padding: 0 12px;
    opacity: 0;
    z-index: 0;
}




#fa-rheart {
    position: relative;
    z-index: auto;
    top: 30%;
    right: 40%;
    transform: scale(1.3);
}

#fa-sheart {
    position: relative;
    z-index: auto;
    display: none;
    left: 21px;
    top: 50px;
}

#material-icons {
    position: absolute;
    display: inline-flex;
    left: 0;
    top: 0;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1#left-banner-title {
        font-size: 2rem;
        line-height: .075rem;
        margin-bottom: 1rem;
    }

    .hscroll-wrapper,
    .hscroll-apisection-wrapper {
        width: 260px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #title_button-container {
        padding: 16px 0 16px 8px;
    }
    h1#left-banner-title {
        font-size: 3rem;
        line-height: .075rem;
        margin-bottom: 1.50rem;
    }
    #banner-text-description {
        max-width: 70%;
    }
    .hscroll-wrapper,
    .hscroll-apisection-wrapper {
        width: 200px;
    }

    
        
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .hscroll-wrapper,
    .hscroll-apisection-wrapper {
        width: 240px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #banner-text-description {
        max-width: 50%;
    }
    .hscroll-wrapper,
    .hscroll-apisection-wrapper {
        width: 280px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   #banner-text-description {
        max-width: 35%;
   }
   .hscroll-wrapper,
   .hscroll-apisection-wrapper {
       width: 360px;
   }
}





